Package: zphisher
Version: 2.3
Installed-Size: 9400
Architecture: all
Maintainer: @Garrettiscool101
Depends: php, wget, git, curl
Homepage: https://github.com/Garrettiscool101/zphisher
Description: An automated phishing tool with 30+ templates. This Tool is made for educational purpose only !
